@page "/"

<h3>Blazor Web Server</h3>
<br />

<h4>Framework</h4>
<div> .Net 5.0</div>
<br />

<h4>Database</h4>
<div>Sqlite</div>
<br />

<h4>Libraries</h4>
<div>FluentValidation</div>
<div>NLog</div>
<div>CharJS</div>
<br />

@code
{

}
