<div class="modal show" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            @Content
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>

<style>
    .modal {
        display: inline-block;
        overflow-y: auto;
    }
</style>

@code {
    [Parameter]
    public RenderFragment Content { get; set; }
}
